@import url(__logo/resourses__logo.css);
@import url(__logo-zone/resourses__logo-zone.css);
.resourses {
    margin: 0;
    padding: 100px 0 217px 0;  
    display: flex;
    flex-direction: column;
    align-items: center;  
  }