.header {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__link {
    color: #2f80ed;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: opacity .5s linear;
  }

  .header__link:hover {
    opacity: .6;
  }

  .header__main-illustration{
    margin: 0;
    padding: 0;
    width: 765px;
    height: 608px; 
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  .header__square-pic {
    margin: 0;
    padding: 0;
    width: 568px;
    height: 568px;
    background: #2f80ed;
    position: absolute;
    right: 0px;
    top: 64px;
  }

  .header__subtitle {
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }

  .header__title {
    margin: 0;
    padding: 0 0 0 60px;
    z-index: 2;
    left: 64px;
    line-height: 96px;
    font-size: 102px;
    width: 730px;
  }