.two-columns { 
    margin: 0; 
    padding: 0; 
    width: 80%; 
    min-width: 900px; 
    display: flex; 
    justify-content: space-between; 
  } 
  
  .two-columns__brief {
    margin: 0;
    padding: 0;
    color: #2f80ed;
    width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
  }

  .two-columns__main-text {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    min-width: 784px;
  }

  .two-columns__main-text :last-child {
    padding: 0;
    margin: 0;
  }

  .two-columns__paragraph {
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .two-columns__span-accent {
    margin: 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
  }